$colora: #1c7c54;
$colorb: #73e2a7;
$colorc: #def4c6;
$colord: #1b512d;
$colore: #b1cf5f;
$a: #1b262c;
$b: #0f4c75;
$c: #00b7c2;
$d: #fdcb9e;
$e: #4b5d67;
$f: #322f3d;

$backgroundColor: $colora;
$primaryColor: $colorb;
$buttonColor: $b;
$textColor: $d;

body {
  color: $textColor;
  background: $a;
}

button {
  border: 1px solid $textColor;
  box-shadow: none;
  border-radius: 0px;
  background: $buttonColor;
  color: $textColor;
}

.swdice-container {
  max-width: 320px;
  margin: auto;
  display: block;
  background-color: $f;
}

.side-points {
  display: flex;
  flex-direction: row;
  background: $e;
}

.tokens {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#force-tokens-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side-points-buttons button {
  display: block;
  width: 50px;
  height: 50px;
  background: $buttonColor;
}

.circle {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.genesys-face-light {
  background-color: white;
}

.genesys-face-dark {
  background-color: black;
}

.dice-roller {
  display: block;
}

.dice-pool {
  width: 100%;
  margin: 15px auto 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.dice-roller-buttons button {
  height: 60px;
  width: 50%;
}

button.dice {
  width: 85px;
  height: 50px;
  text-align: center;
  margin: 5px;
}
