@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#swade-character-container {
  max-width: 600px;
  margin: auto;
  padding: 0;
}

/* DND Character Specific Styles */

.dnd-character-container {
  max-width: 600px;
  margin: auto;
}

.inverted {
  color: white;
  background-color: black;
}

#skills-container.card li:hover,
#saves-container.card li:hover {
  background-color: gray;
  color: white;
}

/* .ability-label,
.skill-label,
.save-label {
  text-align: start;
}
.ability-input {
  text-align: center;
}
.ability-modifier {
  text-align: center;
} */

.ability-input {
 max-width: 20px;
 text-align: start;
}

.dnd-character-container .card li {
 grid-template-columns: 30% 30% 40%;
}
/* End DND Character Specific Styles */

/* Card Styles */
.card {
  border: 2px solid black;
  margin: 5px;
}
.card-heading {
  color: white;
  background-color: black;
  margin: 0;
}
.card ul {
  margin: auto;
}
.card ul li {
  margin: 0.3em;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  justify-content: center;
  justify-items: stretch;
}

.card ul li *:first-child {
  justify-self: start;
}

/* End Card Styles */

.skill-label {
  padding: 0;
}
.skill-points {
}

/* Stepped Value Widget Styles */
.stepped-value {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stepped-value:first-child {
  /* align-self: flex-start; */
}

.stepped-value:last-child {
  /* align-self: flex-end; */
}

.stepped-value-label {
  /* width: 4em; */
  width: 100%;
  text-align: center;
}
.stepped-value button {
  @apply px-1;
}

.stepped-value button.increment {
}

.stepped-value button.decrement {
}

/* Overriding Default Element Behavior */
ul {
  list-style: none;
}
button {
  border: 1px solid gray;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}